<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
	<h1>Liste des étudiants</h1>
	<h3>Pour ajouter un étudiant cliquer <a th:href="@{/etudiant/add}">ici</h3>
	<table class="table table-dark" align="center" border="1">
		<tr align ="center">
			<th>ID</th>
			<th>NOM</th>
			<th>Email</th>
			<th>modifier</th>
			<th>supprimer</th>
		</tr>
		<tr align ="center" th:each="etudiant : ${students}">
			<td th:text="${etudiant.id}"></td>
			<td th:text="${etudiant.name}"></td>
			<td th:text="${etudiant.email}"></td>
			<td><a th:href="@{/etudiant/update/{ide}(ide=${etudiant.id})}" class="btn btn-warning">modifier</td>
		    <td><a th:href="@{/etudiant/delete/{ide}(ide=${etudiant.id})}" class="btn btn-danger">supprimer</td>
		</tr>
	</table>

</body>
</html>